<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong Referee</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style media="screen">
      #score {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid" id="game">
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <player-name :player="players[0]"></player-name>
        </div>

        <div class="col-md-3">
          <player-name :player="players[1]"></player-name>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <score v-on:winpoint="resetPoint(0)" :player.sync="players[0]" :playerIndex="0"></score>
          <button v-on:click="winPoint(0)" type="submit" class="btn btn-lg btn-success">Won</button>
        </div>

        <div class="col-md-3">
          <score v-on:winpoint="resetPoint(1)" :player.sync="players[1]" :playerIndex="1"></score>
          <button v-on:click="winPoint(1)" type="submit" class="btn btn-lg btn-success">Won</button>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/vue@1.0.25/dist/vue.min.js"></script>
    <script type="text/javascript">
      Vue.config.vocalServerUrl = "http://192.168.12.173:8080/api/speak/fr/";

      var ScoreComponent = Vue.extend({
        props: ['player'],
        template: '<input type="text" class="form-control" v-model="player.score" v-on:blur="$emit(\'winpoint\')"/>'
      });

      var PlayerNameComponent = Vue.extend({
        props: ['player'],
        template: '<input type="text" class="form-control" v-model="player.name" />'
      });

      Vue.component('score', ScoreComponent);
      Vue.component('player-name', PlayerNameComponent);

      new Vue({
        el: '#game',
        data: {
          players : [
            { name: 'Joueur 1', score: 0, pointsInARow: 0, previousScore: 0 },
            { name: 'Joueur 2', score: 0, pointsInARow: 0, previousScore: 0 }
          ],
          server: null,
          returner: null,
          turn: 0,
          taunts: [
            "",
            "Incroyable, quel point!",
            "Bravo !",
            "Superbe !",
            "Phénoménal !",
            "Quel joueur !",
            "C'est une leçon de poing pong!",
            "C'est un standard de faire autant de fautes?",
            "lol..."
          ],
          copyTaunts: []
        },
        methods: {
          winPoint: function (playerIndex) {
            var player1 = this.players[playerIndex];
            var player2 = this.players[playerIndex == 0 ? 1 : 0];

            this.turn++;

            player1.pointsInARow++;
            player1.previousScore = player1.score;
            player1.score++;

            player2.pointsInARow = 0;

            this.updateGame(player1, player2);
          },
          resetPoint: function (playerIndex) {
            var player1 = this.players[playerIndex];
            var player2 = this.players[playerIndex == 0 ? 1 : 0];

            this.turn = player1.score + player2.score;

            this.updateGame(player1, player2);
          },
          updateGame: function (player1, player2) {
            var messages = [];

            messages.push(this.taunt(player1, player2));

            if (this.isEndOfMatch(player1.score, player2.score)) {
              messages.push(player1.name + " a gagné " + player1.score + " à " + player2.score + ".");

              this.resetGame();

              messages.push("On en fait une autre?");

              return this.say(messages.join('\n'));
            }

            if (this.isMatchPoint(player1.score, player2.score)) {
              messages.push("Balle de match " + player1.name + ".");
            } else if (player1.score == player2.score) {
              messages.push(this.server.score + ' partout.');
            } else {
              messages.push(this.server.score + ' à ' + this.returner.score + ".");
            }

            if (this.shouldServerChange()) {
              this.changeServer();
              messages.push('A ' + this.server.name + ' de servir.');
            }

            this.say(messages.join('\n'));
          },
          resetGame: function () {
            this.players[0].score = 0;
            this.players[0].pointsInARow = 0;
            this.players[1].score = 0;
            this.players[1].pointsInARow = 0;

            this.taunts = this.copyTaunts.slice();
          },
          taunt: function (player1, player2) {
            var messages = [];
            var messageIndex = null;

            if (player1.pointsInARow > 2 && player1.pointsInARow < 9) {
              messageIndex = Math.floor(Math.random() * this.taunts.length) + 1;
              messages = this.taunts.splice(messageIndex, 1);
            }

            return messages.join('\n');
          },
          shouldServerChange: function () {
            return this.turn > 1 && this.turn % 2 == 0
          },
          isEndOfMatch: function (score1, score2) {
            return score1 >= 11 && score1 - score2 >= 2;
          },
          isMatchPoint: function (score1, score2) {
            return score1 >= 10 && score1 - score2 >= 1;
          },
          changeServer: function () {
            [this.returner, this.server] = [this.server, this.returner];
          },
          say: function (message) {
            console.log(message);

            var xhr = new XMLHttpRequest();
            xhr.open('GET', Vue.config.vocalServerUrl + message);
            xhr.send(null);
          }
        },
        ready: function () {
          this.server = this.players[0];
          this.returner = this.players[1];
          this.copyTaunts = this.taunts.slice();
        }
      });
    </script>
  </body>
</html>
